
 
<h1>Support Release</h1>
<div id = "container">
    <div id ="left">
        <h2>Files</h2>
        <div class="menu">
            <h2 class="files_title">
            	Documents
            </h2>
            <div class="create_doc">
                <%= select_tag "credit_card", options_for_select([ "doc", "svg" ], "doc"), class: "doc_type" -%>
                <input class="new_doc new_doc_with_type" type="text" value="New Document" onfocus="this.value=''" onblur="this.value='New Document'" onkeyup="createDocument(event);" ></input>
            </div>
            <div class="sub_menu">
                <div class="loadImage">
            	</div>
                <ul id="Documents">
                </ul>
            </div>
            <h2 class="files_title">
            	Salt Scripts
            </h2>
            <input class="new_doc new_doc_without_type" type="text" value="New Document" onfocus="this.value=''" onblur="this.value='New Document'" onkeyup="createSaltDocument(event);"></input>
             <div class="sub_menu">
             	<div class="loadImage">
	            </div>
                <ul id="Salt_docs">  
                </ul>
            </div> 
            
        </div>
    </div>
    <div id="content">
        <div id = "middle" style = "position:relative; float:left; width: 40%;margin-right:1%">
            <div class="default_content" >
                    <h2>There is no Document selected</h2>
            </div>
            <div class="content doc_content"></div>
            <div class="loadImage">

            <!--<a class="btns save" href="#save_btn" style="display:none" >Save</a>
            <a class="btns save" href="#delete_btn" style="display:none" >Delete</a>-->
            </div>
        </div>
        <div id = "right" style = "position:relative; float:left; width: 35%;">
            <div class="default_content" >
                    <h2>There is no Salt selected</h2>
            </div>
            <div class="content salt_content" ></div>
            <div class="loadImage"/>
            <!--<a class="btns save" href="#save_btn" style="display:none" >Save</a>
            <a class="btns save" href="#delete_btn" style="display:none" >Delete</a>-->
            </div>
        </div>
    </div>
</div>
 
<script type="text/javascript" >
        loadDocuments();
</script>
