<% if @doc %>
	<h2><%= @doc['name'] %></h2>
	<div>
	<%= form_tag document_path(@doc['id']), method: 'put', remote: true, html: '#Documents' do %>
	<% if @doc['tdoc'] == 1 %>
		<%= sketchily_tag 'file_content', @doc['content'], hide_menu: true %>
	<% else %>
		<%= text_area_tag 'file_content', @doc['content'] %>
	<% end %>
		<span class="btns_panel">
		<%= submit_tag 'Save', class: 'btns save' %>
		<% end -%>
		<%= link_to 'Delete', 'javascript:void(0)', onclick: 'deleteDocument(' + @doc['id'].to_s + ');', class: 'btns save' %>
		</span>
	</div>
<% end -%> 
            