<% @docs.each_with_index do |value,index| %>
<%= link_to ('<li>' + value['name'] + '</li>').html_safe, 'javascript:void(0)',  onclick: 'editDocument(' + index.to_s + ',"' + edit_document_path(value['id']) + '",' + value['id'].to_s + ');' %>
<% end %>