<% if @doc %>
	<h2><%= @doc['name'] %></h2>
	<div>
	<%= form_tag salt_path(@doc['id']), method: 'put', remote: true, html: '#Salt_docs' do %>
	<%= text_area_tag 'content', @doc['content']  %>
	<span class="btns_panel salt_btns_panel">
	<%= submit_tag 'Save', class: 'btns save' %>
	<% end -%>
	<%= link_to 'Delete', 'javascript:void(0)', onclick: 'deleteSalt(' + @doc['id'].to_s + ');', class: 'btns save' %>
	<span>
	</div>
<% end -%> 

