<% @docs.each_with_index do |value,index| %>
<%= link_to ('<li>' + value['name'] + '</li>').html_safe, 'javascript:void(0)',  onclick: 'editSalt(' + index.to_s + ',"' + edit_salt_path(value['id']) + '",' + value['id'].to_s + ');' %>
<%# link_to ('<li>' + t['name'] + '</li>').html_safe, edit_salt_path(t['id']), :html => { :id => "middle"} %>
<% end %>