// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
	font-family: "Verdana"
}

#Documents, #Salt_docs{
	list-style: none;
	background: #ebebeb;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

#Documents a, #Salt_docs a{
	text-decoration: none;
	color: black;
}

#Documents li, #Salt_docs li{
	text-decoration: none;
	color: black;
	margin: 0px;
	padding: 10px 10px;
}

#Documents li:hover, #Salt_docs li:hover{
	background: #565656;
	color:white;
}

.selected{
	background: #6bc72d;
	color: white;
}


.menu{
	width: 200px;
	background: #ebebeb;
	height:100%;
	padding: 0px 5px;
}

.files_title {
	float:left;
	position: relative;
	width: inherit;
	font-size: 120%;
	color: white;
	margin:0px;
	padding: 10px 5px;
	vertical-align: center;
	margin-left: -5px;
	background: #009ed9;
}

#container{
	width:100%;
	height:90%;
}
#left{
	float:left; 
	height:100%;
	position: relative;
	width: 20%;
	margin-right:1%
}

.sub_menu{
	height: 40%;
	overflow-y:auto;
	overflow-x:hidden;
	float:left;
	background: #ebebeb;
	margin-left:-5px;
	padding: 5px;
}

#salt_docs{
	float:right;
}

html,body {
	position: relative;
    padding:0;
    margin:0;
    height:90%;
    min-height:90%;
}

.btns{
	text-decoration: none;
	color: black;
	margin: 0px;
	padding: 10px;
	color: white;
	background: #6bc72d;
	float:left;
	font-size: 100%;
	margin-right: 10px;
	border:none;
	display: inline-block;
}

.btns:hover{
	text-decoration: none;
	color: black;
	margin: 0px;
	padding: 10px;
	color: white;
	background: #565656;
	margin-right: 10px;
}

#content{
	margin-left: 10px;
}

.new_doc{
	background: white;
	border: none;
	float: left;
	padding: 5px 10px;
	font-size: 100%;	
}

.new_doc:focus{
	background: white;
}

.doc_type{
	float: left;
	height: 30px;
	margin-top: 1px;
	vertical-align:top;
}
.create_doc{
	display: inline-block;
	background: white;
	margin-left: -5px;
}

.new_doc_with_type{
	width: 125px;
	vertical-align:top;
}

.new_doc_without_type{
	margin-left: -5px;
}

#left{
	position:relative; 
	float:left; 
	width: 205px;
	margin-right:1%;
}
#container{
	height:100%;
}
#middle, #right, #content{
	height:100%;
}

.content{
	width: 100%;
	height: 100%;
}
.content form{
 	position:relative;
 	width: 100%;
	height: 100%;
}

.content div{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	height: 100%;
}

.content textarea{
 	position:relative;
 	width: 100%;
	max-width: 100%;
	min-height: 93%;
	max-height: 93%;
	height: 93%;
}

h1{
	background: #565656;
	color:white;
	margin:0;
	padding:10px;
	padding-left: 20px;

}

#right{
	float:left;
	margin-left: 10px;
}
#right textarea{
	float:left;
	margin-left: -1px;
	margin-bottom: 3px;
}